<style>
    img {
        height: 300px;
        width: 300px;
    }
</style>

<span>{{articleId}}</span>
<p>Article JSON : </p>
<div *ngIf="article$ | async as article; else loading">
    <h1>{{ article.title }}</h1>
    <p><strong>Publié le :</strong> {{ article.createdAt | date }}</p>
    <img [src]="article.image" alt="{{ article.title }}">
    <p>{{ article.content }}</p>
    <p>❤️ {{ article.likeCount }}</p>
  </div>
  <ng-template #loading>
    <p>Chargement de l'article...</p>
  </ng-template>

<!-- @if (article$| async; as article) {
<img [src]="article.image" [alt]="article.title" />
<span class="span-style"> {{article.createdAt | date:'dd.MM.yyyy'}} </span>
<span> {{article.categoryName}} </span>
<h3>{{ article.title }}</h3>
<p>{{article.content}}</p> -->
<!-- <button (click)="likeButton()">{{article.likeCount}}</button> -->
<!-- } -->