<style>
  h2 {
    color: rgb(94, 94, 94);
    font-size: 40px;
  }

  section {
    display: flex;
    flex-direction: column;
  }
</style>
<!-- /////////////////// MESSAGE PARENT ENFANT -->
<!-- <app-article-thumbnail [parentMessage]="messageToChild"></app-article-thumbnail> -->
<!-- /////////////////// -->

<section>
  <h2>
    {{title}}
  </h2>
  <section>

    <ul>

      <li *ngFor="let article of articles">
        <app-article-thumbnail [article]="article"></app-article-thumbnail>
      </li>

      <!-- @for (article of articles; track $index) {
      <li>

        <a [routerLink]="['/articles', article.id]">
          <img [src]="article.image" [alt]="article.title" /></a>
        <span class="span-style"> {{article.createdAt | date:'dd.MM.yyyy'}} </span>
        <span> {{article.categoryName}} </span>
        <h3>{{ article.title }}</h3>
        <p>{{article.content}}</p> -->
        <!-- <button (click)="likeButton()">{{article.likeCount}}</button> -->
<!-- 
      </li>
      } -->
    </ul>

  </section>
</section>